    <div class="row" style=" margin-left: 2%; margin-right: 2%;">
      <div id="services" class="col-lg-12">
            <h1 class="page-header">
                신기등록
            </h1>
        </div>
        <div id="contact-form" class="col-md-12 well" style="margin-top: 30px; text-align: center;">
                    <h3 class="text-center" style="margin-bottom: 30px;">입력해주세요</h3>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :아드레스 %><br />
    <%= f.email_field :email, autofocus: true,style: "width: 25%;" %>
  </div>

  <div class="field">
    <%= f.label :파스워드 %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 글자이상)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",style: "width: 25%;" %>
  </div>

  <div class="field">
    <%= f.label :파스워드확인 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",style: "width: 25%;"%>
  </div>


  <div class="field">
    <%= f.label :이름 %><br />
    <%= f.text_field :nickname, autofocus: true,style: "width: 25%;" %>
  </div>


  <div class="field">
    <%= f.label :학년 %><br />
    <%= f.number_field :year, autofocus: true, min: "1", max: "13",style: "width: 25%;" %>
  </div>


  <div class="field">
    <%= f.label :분조 %><br />
    <%= f.number_field :group_id, autofocus: true, min: "1", max: "9",style: "width: 25%;" %>
  </div>

  <div class="field">
    <%= f.label :사진 %><br />
    <div style ="margin-left: 38%;"><%= f.file_field :image, autofocus: true %></div>
  </div><br />

  <div class="actions">
    <%= f.submit "신기등록",style: "width: 15%; background-color: #6495ED" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


            </div>
       </div>
