<div class="row" style="margin-left: 2%; margin-right: 2%;">

  <div clas="col-md-12" style ="margin-bottom: 20px;">
  <div class="container" style ="padding-top: 1%;">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">ACCOUNT</h1>
            <div class="account-wall" style="text-align: center; height:260px; vertical-align: middle;">
              <%= image_tag @user.image.url,:class => "img-circle",:size => "140x140",:style => "margin: 0 auto;" %>
              <h3>＠<%= @user.nickname %></h3>
            <% if @user.id == current_user.id %>
              <a href="/users/edit">아카운트편집</a>
            <% end %>
            </div>

        </div>
    </div>
  </div>
  </div>

<div clas="col-md-12" style ="border-top: solid 1px #DCDCDC;">

   <div class="wrappar" style ="text-align: center; margin-top: 10px;">
     <div class="col-md-4 col-sm-4" >
     <div class="alert alert-success" role="alert">
       <h4>총학습시간</h4>
       <h2><%= @stat_all.sum(:study_time) %>분</h2>
     </div>
     </div>
     <div class="col-md-4 col-sm-4" >
       <div class="alert alert-success" role="alert">
       <h4>총독서페지수</h4>
       <% book_pages = @stat_all.sum(:korean_books) + @stat_all.sum(:other_books) %>
       <h2><%= book_pages %>페지</h2>
     </div>
     </div>
     <div class="col-md-4 col-sm-4" >
      <div class="alert alert-success" role="alert">
       <h4>4천페지까지 나머지..</h4>
       <h2><%= 4000 - book_pages %>페지</h2>
     </div>
     </div>
   </div>
  </div>


<div clas="col-md-12" style = "margin-top: 180px;">
  <h3>　자학습그라프(7일간)</h3>
  <%= column_chart @stat_chart.pluck(:date,:study_time), colors: ["#00FF7F", "#999"] %>
</div>


  <div class="col-md-12" style="margin-top: 30px;">

       <table class="table table-striped" style="text-align: center;">
            <tr style ="font-size: 12px;"><th>날자</th><th>우리 말</th><th>자학습</th><th>로작</th><th>일반</th><th>아침점검</th><th>저녁점검</th><th>아침모임</th><th>출석</th><th>정치학습</th><th>우리 말 학습</th><th>하루총화</th><th>학내청소</th><th>호실청소</th>
            <th></th>
            </tr>
                 <% @stats.each do |stat| %>
                         <tr ><td><%= stat.date %></td><td><%= stat.used_korean %></td><td><%= stat.study_time %></td><td><%= stat.korean_books %></td><td><%= stat.other_books %></td><td><%= stat.roll_calling %></td><td><%= stat.night_roll_calling %></td><td><%= stat.morning_meeting %></td><td><%= stat.attendance %></td><td><%= stat.politic_learning %></td><td><%= stat.korean_learning %></td><td><%= stat.reviewing %></td><td><%= stat.campus_cleaning %></td><td><%= stat.room_cleaning %></td>
            <% if stat.user_id == current_user.id %>
            <td><%= link_to "삭제", "/stats/#{stat.id}" ,method: :delete, data: { confirm: "정말로 삭제하겠습니까？" },:class => "btn btn-danger btn-sm pull-right" %></td>
            <% else %>
            <td></td>
            <% end %>
                         </tr>
                 <% end %>
       </table>

  </div>
</div>

<!-- cssの記述 -->
    <style type="text/css">
    .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
    </style>
