<!DOCTYPE html>
<html style="height: 100%;">
<head lang="ko">
  <title>Midori</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%=  stylesheet_link_tag    'css/lightbox', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'js/lightbox' %>
  <%= favicon_link_tag() %>
  <%= favicon_link_tag('big_favicon.ico',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/jpeg'}) %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body style="height: 100%;">
<nav class="navbar navbar-default" style="height: 80px; background-color: #F0FFF0;">
  <div class="container-fluid">
    <div class="navbar-header">
        <h1>문력학부지부통계</h1>
    </div>

    <div class="dropdown nav navbar-nav navbar-right" style="padding-top: 1.4%; padding-right: 2%;">
  <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    MENU
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% if user_signed_in? %>
    <li> <%= link_to "통계제출", '/stats/new' %></li>
    <li> <a href="/users/<%= current_user.id %>">자기통계</a></li>
    <li><%= link_to "전체통계", '/stats' %></li>
    <li><%= link_to "통계분석", '/stats/analytics' %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "등록정보 변경 삭제", '/users/edit' %></li>
    <li><%= link_to "로그아우트", '/users/sign_out',method: :delete %></li>
    <% else %>
    <li><%= link_to "로그인", '/users/sign_in' %></li>
    <% end %>
  </ul>
</div>
</nav>


<%= yield %>

<footer style="bottom: 0; background-color: #F0FFF0; height: 50px; width: 100%; padding-top: 7px; text-align: center;">
  <h5>©produced_by_kiju_at_3.2017</h5>
</footer>

</body>
</html>
