<!DOCTYPE html>
<html style="height: 100%;">
<head lang="ko">
  <title>Midori</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%=  stylesheet_link_tag    'css/lightbox', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'js/lightbox' %>
  <%= favicon_link_tag() %>
  <%= favicon_link_tag('big_favicon.ico',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/jpeg'}) %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
</head>

  <body>

  <nav class="navbar navbar-default navbar-fixed-top" style=" background-color: #17F9AD;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#menu-toggle" id="menu-toggle" style="color: black;">
       <strong>三</strong>
      </a>
      <div class="navbar-brand" style="font-size: 28px; font-weight: bold; color: #000080;">
         문력학부지부통계
      </div>
    </div>
  </div>
</nav>

   <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="margin-top: 50px; background-color: #DDFFDD;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <% if user_signed_in? %>
                    <a href="/stats/new" style = "border-bottom: solid 1px;">
                        <i class="glyphicon glyphicon-send"></i>　통계제출
                    </a>
                    <a href="/users/<%= current_user.id %>" style = "border-bottom: solid 1px;">
                        <i class="glyphicon glyphicon-user"></i>　자기통계
                    </a>
                    <a href="/stats" style = "border-bottom: solid 1px;">
                        <i class="glyphicon glyphicon-book"></i>　전체통계
                    </a>
                    <a href="/stats/analytics" style = "border-bottom: solid 1px;">
                        <i class ="glyphicon glyphicon-signal"></i>　통계분석
                    </a>
                    <a href="/stats/weeks" style = "border-bottom: solid 1px;">
                        <i class="glyphicon glyphicon-time"></i>　주간통계
                    </a>
                    <%= link_to "　　　로그아우트", '/users/sign_out',method: :delete,style: "border-bottom: solid 1px;" %>
                    <% else %>
                    <a href="/stats" style = "border-bottom: solid 1px;">
                        <i class="glyphicon glyphicon-book"></i>　전체통계
                    </a>
                    <a href="/stats/analytics" style = "border-bottom: solid 1px;">
                        <i class ="glyphicon glyphicon-education"></i>　통계분석
                    </a>
                    <a href="/stats/weeks" style = "border-bottom: solid 1px;">
                        <i class="glyphicon glyphicon-time"></i>　주간통계
                    </a>
                    <a href="/users/sign_in" style = "border-bottom: solid 1px;">
                        　　　로그인
                    </a>
                    <% end %>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid" style ="margin-top: 50px;">
                <div class="row">

    <%= yield %>

              </div>
        </div>
        </div>


        <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
